<nav class="navbar">
  <h2 class="logo">TaskManager</h2>

  <div class="user-select-wrapper">
  <select class="user-select" 
    (change)="changeUser($event)"
    [value]="userId"
    >
    <option value="" disabled selected>Select a user</option>
    <option value="1">Tubby Joe Shmoe</option>
    <option value="2">Gamma Jack</option>
    <option value="3">Kamar Adin Dibiyaza</option>
  </select>
</div>
  

  <!-- ul class="nav-links">
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/tasks">Task List</a></li>
    <li><a routerLink="/add">Add a task</a></li>
  </ul-->
</nav>
