<div class="filters" role="region" aria-label="filtrage et recherche">
  <button (click)="addTaskRequest()">Add Task</button>
  <select aria-label="Filtrer par statut" [(ngModel)] = "statusFilter" >
    <option value="">Status</option>
    <option value="todo">To do</option>
    <option value="in-progress">In Progress</option>
    <option value="done">Finished</option>
  </select>

  <select aria-label="Filtrer par priorité" [(ngModel)] = "priorityFilter" >
    <option value="">Priorities</option>
    <option value="low">Low</option>
    <option value="medium">Medium</option>
    <option value="high">High</option>
  </select>

  <select aria-label="Filtrer par catégorie" [(ngModel)] = "categoryFilter" >
    <option value="">Categories</option>
    <option value="work">work</option>
    <option value="school">school</option>
    <option value="others">others</option>
  </select>

  <input type="search" placeholder="Rechercher..." aria-label="Rechercher" [(ngModel)] = "searchBar"/>
</div>

