<article class="task-cluster-card" role="article" aria-label="Carte tâche">
  <div class="task-header">
    <div class="title-block">
      <h3 class="task-title">{{cluster.title}}</h3>
      <div class="meta">
        <small class="due">Due Date : {{cluster.date}}</small>
        <small class="category"> {{cluster.category}} </small>
        
      </div>
    </div>

    <div class="status-priority-container">
        <div class="status" aria-hidden="true">{{cluster.status}}</div>
        <div class="priority" aria-hidden="true">{{cluster.priority}}</div>
    </div>
    
  </div>

  <div class="task-desc">
    {{cluster.description}}
  </div>

  <div class="task-footer">
    <button class="edit-btn" aria-label="Expand" (click)="expandRequest()">Expand</button>
    <button class="delete-btn" aria-label="Supprimer" (click)="deleteRequest()">Supprimer</button>
  </div>
</article>