.task-cluster-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 16px;
  margin: 12px 0;
  transition: transform 0.2s ease;
  border:1px solid yellow;
  //max-width: 700px;
  //TODO: make tasks more pleasing to the eye by limiting the size of task to 1 third of the width of the site
  // if it gets to a certain size, other wise leave get as big as the screen
  //TODO: add deletion, addition, pop up animations
}

.task-cluster-card:hover {
  transform: translateY(-4px);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.status,
.priority{
  padding: 4px 8px;
  border-radius: 12px;
  background-color: #e0e0e0;
  text-align: center;
  font-size: 0.8rem;
}
.priority {
    margin-top: 2px;
}

.task-desc {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 12px;
  word-wrap: break-word;
}

.task-footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.edit-btn, .delete-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn {
  background-color: #faee07;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}
