<app-navbar></app-navbar>
<!-- these 4 parameters down themselves are based on another input, and apperantly, when that original input changes
 the parameters down pass the old values before task list actually gets updated-->
<app-dash-board 
  [total_tasks_count]="total_count"
  [in_progress_tasks_count]="in_progress_count"
  [done_tasks_count]="done_count"
  [late_tasks_count]="late_count"
></app-dash-board>
<app-task-list 
(task_list_output)="collectTasks($event)"
[userId] = "userId"
></app-task-list>

